$pc: "(min-width: 390px)";
$mobile: "(width: 390px)";

@font-face {
    font-family: 'Gotham-Black';
    src: url('/fonts/Gotham-Black.woff2') format('woff2')
}

@font-face {
    font-family: 'Ade';
    src: url('/fonts/Ade-Display.woff2') format('woff2')
}

@font-face {
    font-family: 'Roboto-light';
    src: url('/fonts/Roboto.woff2') format('woff2')
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.title {
    position: relative;
    margin: 0 auto;
    width: 100%; // 讓寬度自適應
    height: 536px; // 保持統一高度
    background-repeat: no-repeat;
    background-position: center; // 水平 & 垂直置中
    background-size: cover; // 讓圖片覆蓋整個區塊


    @media (max-width: 1032px) {
        background-image: url('/images/pc-banner-middle-size.png');
    }

    @media (min-width: 1033px) {
        background-image: url('/images/pc-banner-large-size.png');
    }

    @media #{$mobile} {}

    .title-block {
        position: absolute;
        bottom: 20px;
        left: 20px;

        .title-name {
            @media #{$pc} {
                color: #FFF;
                font-family: 'Gotham-Black';
                font-size: 24px;
                font-weight: bold;
                line-height: normal;
            }
        }

        .title-property {
            @media #{$pc} {
                color: #FFF;
                font-family: "Ade";
                font-size: 64px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 24px;

    .form-block {
        width: 600px;
    }

    .basic-formControl {
        .MuiOutlinedInput-root {
            background-color: white;
            border: 0px;
        }

        .MuiOutlinedInput-notchedOutline {
            border: none;
        }
    }

    .amount {
        margin-bottom: 5px;

        @media #{$pc} {
            width: 100%;
        }
    }

    .exchange-rate {
        width: 568px;
        font-family: 'Roboto-light';
        font-size: 14px;
        font-weight: 400;
        color: #49454F;
        margin-bottom: 16px;
        margin-left: 16px;
    }

    .email {
        margin-bottom: 16px;

        @media #{$pc} {
            width: 100%;
        }
    }

    .phone-block {
        display: flex;
        gap: 8px;
        margin-bottom: 16px;
        width: 100%;

        .phone-code {
            @media #{$pc} {
                width: 96px;
            }
        }

        .phone-number {
            @media #{$pc} {
                width: 496px;
            }
        }
    }

    .contact-information {
        display: flex;
        flex-direction: column;
        gap: 36px;

        .contact-information-note {
            color: rgba(40, 40, 41, 0.80);
            font-family: 'Roboto-light';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.1px;
        }

        .checkbox-label-block {
            margin-left: 0;
            margin-right: 0;
            display: flex;
            justify-content: space-between;
        }

        .checkbox-custom {
            padding: 0;

            & .MuiSvgIcon-fontSizeMedium {
                border-radius: var(--CornerRadius-Checkbox, 2px);
            }
        }

        .label-custom {
            font-family: 'Roboto-light';
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 133.333% */
            letter-spacing: 0.5pxㄤ
        }

        .label-chinese {
            color: #070707;
            font-size: 18px;
        }

        .label-english {
            color: rgba(40, 40, 41, 0.80);
            font-size: 16px;
        }

        .personal-button {
            border-radius: 999px;
            background: #FFA01F;
            color: #FFF;
            text-align: center;
            font-family: 'Roboto-light';
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
            margin-right: 16px;
            width: 77px;
        }

        .company-button {
            border-radius: 999px;
            color: #FFA01F;
            border: 1px solid #FFA01F;
            text-align: center;
            font-family: 'Roboto-light';
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
            width: 77px;
        }

        .receiptName {
            margin: 8px 0;
            width: 100%;
        }

    }
}



.tpfield {
    height: 55px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px;
}

.display-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-left {
    justify-items: left;
}

.width-300 {
    width: 300px;
}

.width-568 {
    width: 568px;
}

.width-145 {
    width: 145px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.font-size-15 {
    font-size: 15px;
}

#pr-button div {
    width: 300px;
    min-height: 30px;
    border: 1px solid black;
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-size: 100% calc(50% + 2px);
    background-repeat: no-repeat;
    background-color: black;
    background-position: 50% 50%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    transition: background-color .15s;
    appearance: none !important;
}